{%load i18n%}
{%if form%}
	<form id="forget-password-form" class="user" action="javascript: void(0)">
		{%csrf_token%}
		{{form.phone.label_tag}}
		{{form.phone}}
		{{form.phone.errors}}
		<div>{{error}}</div>
		<button class="blue left">{% trans 'Напомнить'%}</button>
	</form>
	<script>
		$('#forget-password-form').show();
		$('#forget-password-form button').on('click',function(){
			http.post('/user/forget-password/',$('#forget-password-form').serialize())
			if(window.http.responseText)
				$(this).html(http.responseText);
			return false;
		});
	</script>
{%else%}
	<div class="user">{% trans 'Запрос успешно отправлен. Проверьте почтовый ящик.'%}</div>
{%endif%}