{%extends 'shop/mobile/index.html'%}
{%load i18n%}
{%load translate%}
{%block breadcrumbs%}
<div class="bread-crumbs">
	<span itemscope itemtype="http://schema.org/ListItem">
		<a href="{{language}}/user/profile/">
			<div></div>
			<span itemprop="name">{% trans 'Заказы'%}</span>
		</a>
	</span>
</div>
{%endblock%}
{%block main%}
<div class="order" id="checkoutForm">
{%if order%}
	{%if messages%}
		{% for message in messages %}
			<div class="message">{{message}}</div>
		{% endfor %}
		<script>
			document.onreadystatechange = function(){
				if(document.readyState === 'complete')
					pageObject.clearCart();
			};
		</script>
	{%endif%}
	<h1 id="order-head">{% trans 'Заказ'%} №{{order.id}}</h1>
	<form action="" id='orderForm'>
		{%csrf_token%}
		<table class="form-list">
			<tr>
				<td>{% trans 'Имя'%}:</td>
				<td>{{form.name}}</td>
			</tr>
			{%if order.delivery_type != 4%}
				<tr>
					<td>{% trans 'Фамилия'%}:</td>
					<td>{{form.lname}}</td>
				</tr>
				<tr>
					<td>{% trans 'Отчество'%}:</td>
					<td>{{form.sname}}</td>
				</tr>
			{%endif%}
			<tr>
				<td>{% trans 'Номер телефона'%}:</td>
				<td>{{form.phone}}</td>
			</tr>
			<tr>
				<td>{% trans 'Адрес почты'%}:</td>
				<td>{{form.email}}</td>
			</tr>
			<tr>
				<td>{% trans 'Способ доставки'%}:</td>
				<td>{{order.get_delivery_type_display}}</td>
			</tr>
			{%if order.address%}
				<td>{% trans 'Адрес'%}:</td>
				<td>{{form.address}}</td>
			{%endif%}
			{%if order.delivery_type == 1 or order.delivery_type == 2%}
				{%if order.city%}
					<tr>
						<td>{% trans 'Город доставки'%}:</td>
						<td id='city'>{% translate order.city 'address' lang%}</td>
					</tr>
				{%endif%}
				{%if order.departament%}
					<tr>
						<td>{% trans 'Отделение доставки'%}:</td>
						<td id='departament'>{% translate order.departament 'address' lang%}</td>
					</tr>
				{%endif%}
			{%endif%}
			<tr>
				<td>{% trans 'Способ оплаты'%}:</td>
				<td>{{form.payment_type}}</td>
			</tr>
		</table>
		<div id="delivery_message">{% trans 'Внимание! Доставка возможна только с оплатой Приват24'%}.</div>
		<button id='change-order' class='right' disabled="">{% trans 'Изменить'%}</button>
	</form>
	<h3>{% trans 'Содержимое заказа'%}:</h3>
	{%for item in order.cart%}
		<div class="item">
			<div class="item-img">
				<img src="{{item.product.image.cart_thumb}}" alt="image">
			</div>
			<div class="info">
				<div class="item-name"><a href="{% translate item.product 'slugy' lang%}" target="_blank">{% translate item.product 'names' lang %}</a></div>
				<div class="model">{% trans 'Артикул'%} #: {{item.product.model}}</div>
				<div class="total">{{item.qty}} шт х <span class="price">{{item.price}}</span> грн.</div>
			</div>
		</div>
	{%endfor%}
	{%if order.status == 1 and order.payment_type == 2%}
		<div id="paymentMessage">
			{% trans 'Важно! Желательно осуществляйте предоплату после согласования деталей заказа(цвет, разновидность товара)'%}
		</div>
		{%if CHECKOUT_TYPE == 'liqpay'%}
			<!-- {{liqpay|safe}} -->
			<div id="liqpay_checkout"></div>
			<script>
				window.LiqPayCheckoutCallback = function() {
				LiqPayCheckout.init({
						data: "{{data|safe}}",
						signature: "{{signature|safe}}",
						embedTo: "#liqpay_checkout",
						language: "uk",
						mode: "embed",
					}).on("liqpay.callback", function(data){
						console.log(data.status);
						console.log(data);
					}).on("liqpay.ready", function(data){
						// ready
					}).on("liqpay.close", function(data){
						// close
					});
				};
			</script>
			<script src="//static.liqpay.ua/libjs/checkout.js" async></script>
		{%elif CHECKOUT_TYPE == 'wfp'%}
			<script id="widget-wfp-script" language="javascript" type="text/javascript" src="https://secure.wayforpay.com/server/pay-widget.js"></script>

			<script type="text/javascript"> 	
				var wayforpay = new Wayforpay(); 	
				var pay = function () { 		
				wayforpay.run({
					merchantAccount : "ckl_com_ua",
					merchantDomainName : "ckl.com.ua",
					authorizationType : "SimpleSignature",
					merchantSignature : "{{signature}}",
					orderReference : "{{order.id}}",
					orderDate : "{{data}}",
					amount : "{{order.cart.total}}",
					orderTimeout: 864000,
					currency : "UAH",
					productName: "Заказ №{{order.id}}",
					productPrice: "{{order.cart.total}}",
					productCount: "1",
					clientFirstName : "{{order.name}}",
					clientLastName : "{{order.lname}}",
					clientEmail : "{{order.email}}",
					clientPhone: "{{order.phone}}",
					language: "UA",
					straightWidget: true,
					serviceUrl: "https://{{BASE_URL}}/user/pay/callback"
				},
				function (response) {
				// on approved				 			
				}, 			
				function (response) {
				// on declined 			
				}, 			
				function (response) {
				// on pending or in processing 			
				} 		
				); 	
				}
			</script>

			<button class="button green" type="button" onclick="pay();">Оплатить</button>
		{%endif%}
	{%endif%}
{%else%}
	<h1>{% trans 'Нет доступной информации'%}.</h1>
	<div>{% trans 'Попробуйте найти заказ'%} <a href="{{language}}/user/profile/">{% trans 'ЗДЕСЬ'%}</a>.</div>
{%endif%}
</div>
{%endblock%}
{%block JS%}
	<script>
		{%if messages%}
			// Event snippet for Покупки conversion page
			gtag('event', 'conversion', {
				'send_to': '{{GOOGLE_CONVERSION}}',
				'transaction_id': '{{order.id}}'
			});
		{%endif%}
	</script>
{%endblock%}