{%extends 'shop/desktop/index.html'%}
{%load i18n%}
{%block breadcrumbs%}
	<div class="bread-crumbs">
		<a href="{{language}}/">{% trans 'Главная'%}</a>
		<a href="{{language}}/user/profile/">{% trans 'Профиль'%}</a>
		<span>{% trans 'Смена пароля'%}</span>
	</div>
{%endblock%}
{%block main%}
	{%if form%}
		<form action="{{language}}/user/change-password" method="POST" id="change-password-form" class="user">
			{%csrf_token%}
			{%for field in form%}
				{{field.label_tag}}
				{{field}}
				{{field.error}}
			{%endfor%}
			<button class="blue left">{% trans 'Изменить'%}</button>
		</form>
	{%endif%}
	{{result}}
{%endblock%}
{%block additionalJS%}
	<script>
		$('#change-password-form').validate({
			rules:{
				password1:{
					required: true,
					minlength: 6,
					maxlength: 16,
				},
				password2:{
					required: true,
					minlength: 6,
					maxlength: 16,
				},
			},
			messages:{
				password1:{
					required: "{% trans 'Введите пароль.'%}",
					minlength: "{% trans 'Длина пароля минимум 6 символа.'%}",
					maxlength: "{% trans 'Максимальная длина 16 символов.'%}",
				},
				password2:{
					required: "{% trans 'Введите пароль еще раз.'%}",
					minlength: "{% trans 'Длина пароля минимум 6 символа.'%}",
					maxlength: "{% trans 'Максимальная длина 16 символов.'%}",
				},
			},
		});
	</script>
{%endblock%}