{%load i18n%}
<div class="autocomplete {{model}}" model="{{model}}">
	<div>
		<input type="text" autocomplete="off" placeholder="{%trans 'Введите текст для поиска'%}">
		<div class="variants"></div>
		<input autocomplete="off" type="hidden" name="{{ widget.name }}"{% if widget.values_list != None %} value="{{widget.values_list}}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
	</div>
	<div>
		<div class="values">
			{%for item in widget.value%}
				<div class="value">
					<div class="remove" value="{{item.id}}"><i class="fas fa-times"></i></div>
					<a href="/{{Model}}/{{item.id}}">{{item}}</a>
				</div>
			{%endfor%}
		</div>
	</div>
</div>