{%extends extends%}
{%load checkbox%}
{%load translate%}
{%block main%}
<div id="item">
    <div class="head container">
        <div class="head-image">
            {{item.admin_image|safe}}
        </div>
        <div class="container">
            <div>ID: {{item.pk}}</div>
            <h1>{% translate item 'names' lang %}</h1>
            <a href="https://{{SITE_URL}}/{{item.slug}}">{{item.slug}}</a>
        </div>
    </div>
    <div id="item-body" class="container">
        <form action="javascript: return false;" enctype="multipart/form-data">
            {%csrf_token%}
                <div id="description" class="fieldset meta">
                    <div class="languages">
                        {%for form in meta%}
                            <div for="meta-{{form.lang.code}}" lang-id="{{form.lang.id}}">
                                <img src="{{form.lang.image_url}}" alt="">
                            </div>
                            <input type="hidden" name="description[]" value="{{form.instance.id|default_if_none:''}}">
                        {%endfor%}
                    </div>
                    {%for form in meta%}
                        <div class="fieldset" id="meta-{{form.lang.code}}">
                            <input id="id_{{form.lang.code}}-language" type="hidden" name="{{form.lang.code}}-language" value="{{form.lang.id}}">
                            {%for fieldset in form.fieldsets%}
                                {%for field in fieldset%}
                                    <div class="field {{fieldset.classes}}">
                                        <div class="label">
                                            {{field.label_tag}}
                                            {%if field.field.required%}
                                                <span class="red">*</span>
                                            {%endif%}
                                        </div>
                                        {{field}}
                                    </div>
                                {%endfor%}
                            {%endfor%}
                        </div>
                    {%endfor%}
                </div>
                {%for fieldset in form.fieldsets%}
                    <div class="fieldset {{fieldset.classes}}" id="{{fieldset.name|default_if_none:'main'}}">
                        {%for field in fieldset%}
                            {%if not fieldset.description%}
                                <div class="field{%if field|is_checkbox%} checkbox{%endif%}">
                                    <div class="label">
                                        {{field.label_tag}}
                                        {%if field.field.required%}
                                            <span class="red">*</span>
                                        {%endif%}
                                    </div>
                                    {{field}}
                                </div>
                            {%else%}
                                {{field}}
                            {%endif%}
                        {%endfor%}
                    </div>
                {%endfor%}
        </form>
        <div id="item-menu">
            <div class="menu-item noselect" for="description">
                <i class="fas fa-ruler-combined"></i>
                META
            </div>
            {%for fieldset in form.fieldsets%}
                <div class="menu-item noselect" for="{{fieldset.name|default_if_none:'main'}}">
                    {%if not fieldset.legend and forloop.counter == 1%}
                        <i class="fas fa-envelope-open-text"></i>
                        Общее
                    {%else%}
                        <i class="fas fa-{{fieldset.icon}}"></i>
                        {{fieldset.legend}}
                    {%endif%}
                </div>
            {%endfor%}
        </div>
    </div>
    <div id="edit-panel-wrapper">
        <div id="edit-panel" class="active">
            <a id='browse' href="http://{{SITE_URL}}/{{item.slug}}">
                <i class="fas fa-link"></i>
            </a>
            {%if Model.editPanel%}
                {%include Model.editPanel%}
            {%endif%}
            <div id="save" class="edit-panel-icon">
                <i class="fas fa-save"></i>
            </div>
            <div id="save-more" class="edit-panel-icon">
                <i class="far fa-save"></i>
            </div>
            <div id="save_and_out" class="edit-panel-icon">
                <i class="fas fa-plus-square"></i>
            </div>
           <!--  <div id="out" class="edit-panel-icon">
                <i class="fas fa-share-square"></i>
            </div> -->
            <div id="delete" class="delete-list">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </div>
</div>
<script>
    window.PAGE_CONTEXT = JSON.parse({{context|safe|default:"{}"}});
    if(!document.querySelector('menu')) location.reload();

</script>
    <!-- <script type="module" defer src="/static/js/views/edit/product.js"></script> -->
{%endblock%}