{%load i18n%}
<form action="" id="feedback-form">
	{%csrf_token%}
	<input id="id_product" type="hidden" name="product" value="">
	<input id="id_parent" type="hidden" name="parent" value="">
	{{form.author.label_tag}}
	{{form.author}}
	{{form.author.errors}}
	{{form.text.label_tag}}
	<textarea id="id_text" rows="5" cols="30" placeholder="Текст отзыва" name="text" required="" maxlength="400"></textarea>
	{{form.text.errors}}
	<button class="blue right">{% trans 'Отправить'%}</button>
	{{form.errors}}
</form>