#quickOrderFormContainer{
	width: 550px;
	padding: 52px 102px 47px 65px;
}
#quickOrderFormContainer button{
	margin: 25px auto 0;
}
#quickOrderFormContainer input{
	margin-bottom: 5px;
}
#quickOrderFormContainer em{
	display: none !important;
}
#quickOrderFormContainer .error{
	border: 1px solid red;
}
#quickOrderFormContainer input[type='text']{
	width: 100%;
	height: 30px;
	display: block;
	margin: 5px 0px 7px;
}